---
import { getCollection } from "astro:content";
const posts = (await getCollection("themes")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
	);
import Layout from '../../layouts/Layout.astro'
import Section from "@components/Section.astro";
import HeadingPages from "@components/HeadingPages.astro"
import CardThemes from "@components/CardThemes.astro";
---

<Layout title='Theme Collections'>
	<HeadingPages 
	title="Theme Collections" 
	description="I've been building themes in my free time, exploring frameworks like Next.js, Static HTML, and Astro.js. You can use these for free or you want costum design? please contact me" 
	bgColor='bg-gradient-to-b from-lime-500 from-10% via-green-500 via-30% to-yellow-500 to-90%'/>
	<Section border="">
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
			{
				posts.map((post) => (
				<CardThemes 
				link={`/themes/${post.slug}/`} 
				src={post.data.heroImage} 
				alt={post.data.heroImageAlt} 
				title={post.data.title} 
				techstack={post.data.techstack}
				srcIcon={post.data.srcIcon} 
				category={post.data.category} 
				source={post.data.source} 
				preview={post.data.preview}/>
				))
			}
		</div>
	</Section>
</Layout>