---
import { Icon } from 'astro-icon/components';
const {link, src, alt, title, techstack, category, source, preview, srcIcon} = Astro.props
import { Image } from 'astro:assets';
---
<div class="componentStyle rounded-lg group">
    <a
        class="relative"
        href={`${link}`}
        aria-label={alt}
    >
        <div class="h-[200px]">
            <Image
            class="rounded-t-lg w-full object-cover"
            width={370}
            height={200}
            loading="eager"
            src={src}
            alt={alt}
        />
        </div>
        <div class="p-5 ">
            <h3 class="text-[1.2rem] leading-6 pb-3 titleOnCard">{title}</h3>
            <div class="flex items-center justify-between border-y-[1px] border-zinc-900 py-3 transitionAll">
                <span class="text-[14px] text-zinc-400 textxs leading-none flex items-center gap-2">
                    <Icon name={srcIcon} width={22} height={22} title={techstack} /> 
                    {techstack}
                </span>
                <span class="text-sm textxs text-zinc-400 leading-none">
                    {category}
                </span>
            </div>
            <div class="flex items-center pt-3">
                <a class="buttonLink transitionAll" href={preview} target="_blank" rel="noopener noreferrer" aria-label="View project preview">
                    <span class="textxs text-zinc-200">Preview</span>
                    <Icon width={14} height={14} name="boxlink" />
                </a>
                <a class="buttonLink ml-3 transitionAll" href={source} target="_blank" rel="noopener noreferrer" aria-label="View project source code">
                    <span class="textxs text-zinc-200">Source</span>
                    <Icon width={14} height={14} name="boxlink" />
                </a>
            </div>
        </div>
    </a>
</div>