---
const {link, src, alt, title, techstack, category, source, preview} = Astro.props
---
<div class="componentStyle rounded-lg group">
    <a
        class="relative"
        href={`${link}`}
        aria-label={alt}
    >
        <img
            class="rounded-t-lg w-full object-cover"
            width={370}
            height={200}
            src={src}
            alt={alt}
        />
        <div class="p-5 ">
            <span class="text-[1.2rem] leading-6 pb-3">{title}</span>
            <div class="flex items-center justify-between border-y-[1px] border-zinc-900 py-3 transitionAll">
                <span class="text-[14px] leading-none border border-zinc-700 transitionAll px-3 py-2 rounded-md">
                    {techstack}
                </span>
                <span class="text-[14px] text-zinc-400 leading-none">
                    {category}
                </span>
            </div>
            <div class="flex items-center pt-3">
                <a class="buttonLink transitionAll" href={preview} target="_blank" rel="noopener noreferrer" aria-label="View project preview">
                    <span>Preview</span>
                    <img width={14} height={14} src="/boxlink.svg" alt="icon link">
                </a>
                <a class="buttonLink ml-3 transitionAll" href={source} target="_blank" rel="noopener noreferrer" aria-label="View project source code">
                    <span>Source</span>
                    <img width={14} height={14} src="/boxlink.svg" alt="icon link">
                </a>
            </div>
        </div>
    </a>
</div>