---
import TitleSection from "./ui/TitleSection.astro"
import { Icon } from 'astro-icon/components';
import Section from "./Section.astro"
import Telegram from "./ui/Telegram.astro"
import GoogleLink from "./ui/GoogleLink.astro";
import ButtonCopy from "./preact/ButtonCopy"
import { sociallink } from "../const"
const today = new Date();
const thisDate = today.getDate();
const thisYear = today.getFullYear();
const month = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
  ];
  const thisUpdate = 3 || 15;
  const currentMonth = month[today.getMonth()];
  const recentMonth = month[today.getMonth() - 1];
  let thisFormatDate = "";
  if (thisDate < thisUpdate) {
    thisFormatDate = recentMonth;
  } else {
    thisFormatDate = currentMonth;
  }
const thisFormat = thisFormatDate + " " + thisYear;
---
<Section border="border-t-[1px] border-b-[1px]">
    <div class="flex flex-col items-center">
        <div class="flex flex-col items-center mb-6">
            <TitleSection className="flex-col text-center" title="I love to here for you" icon="kontak"/>
            <span class="text-center mx-auto text-zinc-400">Connect with me today! Let's create something amazing together.</span>
        </div>
        <div class="w-full lg:max-w-[550px] mx-auto flex flex-col items-center gap-3">
            <div class="grid grid-cols-3 max-sm:grid-cols-1 gap-3 w-full">
                <Telegram />
                <ButtonCopy client:visible />
                <GoogleLink />
            </div>
            <div class="grid grid-cols-4 gap-3 w-full md:max-w-[350px] lg:max-w-[350px]">
                {sociallink.map((social) =>(
                    <a class="p-3 flexJustifyCenter rounded-md componentStyle aspect-square" aria-label={social.icon} href={social.href}>
                        <Icon height={24} width={24} name={social.icon} />
                    </a>
                ))}
            </div>
        </div>
        <code class="text-center mx-auto text-zinc-400 mt-6 text-sm">Last update — <span>{thisUpdate}</span> {thisFormat} </code>
    </div>
</Section>