---
const posts = await Astro.glob('../content/projects/*.md');
import Section from "../components/Section.astro"
import TitleSection from "../components/ui/TitleSection.astro"
import ViewMore from "./ui/ViewMore.astro";
---

<Section border="border-b-[1px]">
    <TitleSection title="Projects" icon="/terminal.svg"/>
    <div class="grid gap-3">
        {posts.slice(0, 2).map((post) =>(
            <a href={post.url} class="componentStyle rounded-lg cursor-pointer flex items-center max-md:flex-col gap-9 w-full h-auto lg:min-h-32 p-5 group">
                <div class="w-full lg:max-w-[350px]">
                    <img class="rounded-lg w-auto" src={post.frontmatter.heroImage.src} alt={post.frontmatter.heroImage.alt} />
                </div>
                <div class="relative h-full w-full">
                    <h2 class="mb-6 font-bold text-2xl">{post.frontmatter.title}</h2>
                    <p class="text-zinc-400">{post.frontmatter.description}</p>
                    <div class="relative lg:absolute pt-6 lg:pt-0 left-0 bottom-0 flex items-center justify-between w-full">
                        <span>{post.frontmatter.usecase}</span>
                        <span class="flex items-center gap-2 bg-zinc-900 group-hover:bg-zinc-800 rounded-md border border-zinc-800 group-hover:border-zinc-700 px-3 py-1">
                            <img class="fill-zinc-400" width={14} height={14} src="/boxlink.svg" alt="boxlink" />
                            <span>{post.frontmatter.pathname}</span>
                        </span>
                    </div>
                </div>
            </a>
        ))}
    </div>
    <ViewMore href="/projects" />
</Section>