---
const posts = await Astro.glob('../content/projects/*.md');
import Section from "../components/Section.astro"
import TitleSection from "../components/ui/TitleSection.astro"
import ViewMore from "./ui/ViewMore.astro";
import CardProjects from "../components/CardProjects.astro"
---

<Section border="border-b-[1px]">
    <TitleSection title="Projects" icon="/terminal.svg"/>
    <div class="grid gap-3">
        {posts.slice(0, 2).map((post) =>(
            <CardProjects 
            link={post.url} 
            src={post.frontmatter.heroImage} 
            alt={post.frontmatter.heroImageAlt} 
            logo={post.frontmatter.logo} 
            logoAlt={post.frontmatter.heroImageAlt} 
            title={post.frontmatter.title} 
            description={post.frontmatter.description} 
            usecase={post.frontmatter.usecase} 
            domainName={post.frontmatter.domainName}
            />
        ))}
    </div>
    <ViewMore href="/projects" />
</Section>