---
const posts = await Astro.glob('../content/Themes/*.md');
import Section from "../components/Section.astro"
import TitleSection from "../components/ui/TitleSection.astro"
import ViewMore from "./ui/ViewMore.astro";
import CardThemes from "../components/CardThemes.astro"
---

<Section border="border-b-[1px]">
    <TitleSection title="Themes" icon="/layout.svg"/>
    <div class="grid grid-cols-2 max-sm:grid-cols-1 gap-3">
        {posts.slice(0, 2).map((post) =>(
            <CardThemes 
            href={post.url} 
            src={post.frontmatter.heroImage} 
            alt={post.frontmatter.heroImageAlt} 
            title={post.frontmatter.title} 
            techstack={post.frontmatter.techstack} 
            category={post.frontmatter.category} 
            source={post.frontmatter.category} 
            preview={post.frontmatter.category}/>
        ))}
    </div>
    <ViewMore href="/themes" />
</Section>