---
import Layout from '../../layouts/Layout.astro'
import Section from '@components/Section.astro';
import { getCollection } from "astro:content";
const posts = (await getCollection("projects")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
import HeadingPages from "@components/HeadingPages.astro"
import CardProjects from '@components/CardProjects.astro';
---

<Layout>
	<HeadingPages 
	title="Project Experiences" 
	description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu diam ut turpis malesuada ultrices ac sed justo. Nunc risus massa, sagittis nec molestie cursus, accumsan non tellus." 
	bgColor='bg-gradient-to-b from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%'/>
	<Section border=''>
		<div class="grid gap-4">
			{
				posts.map((post) => (
				<CardProjects 
					link={`/projects/${post.slug}/`} 
					src={post.data.heroImage} 
					alt={post.data.heroImageAlt} 
					logo={post.data.logo} 
					logoAlt={post.data.heroImageAlt} 
					title={post.data.title} 
					usecase={post.data.usecase} 
					domainName={post.data.domainName}
					description={post.data.description}
					/>
				))
			}
		</div>
	</Section>
</Layout>