---
import Layout from '../../layouts/Layout.astro'
import Section from '@components/Section.astro';
import { getCollection } from "astro:content";
const posts = (await getCollection("projects")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
import HeadingPages from "@components/HeadingPages.astro"
import CardProjects from '@components/CardProjects.astro';
---

<Layout title='Projects Collections'>
	<HeadingPages title="Project Experiences" description="It's my collections themes with variant frameworks javascript"/>
	<Section border=''>
		<div class="grid gap-4">
			{
				posts.map((post) => (
				<CardProjects 
					link={`/projects/${post.slug}/`} 
					src={post.data.heroImage} 
					alt={post.data.heroImageAlt} 
					logo={post.data.logo} 
					logoAlt={post.data.heroImageAlt} 
					title={post.data.title} 
					description={post.data.description} 
					usecase={post.data.usecase} 
					pathname={post.data.pathname}
					/>
				))
			}
		</div>
	</Section>
</Layout>